{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    500
{% endblock %}

{% block content %}
<h1>Lo sentimos, a ocurrido un error en el servidor, favor intentelo mas tarde</h1>
<p>{{ error }}</p>
{% endblock %}
