{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}
    <div class="container">
    {% if username %}
        <h1> Bienvenido, {{ username| capitalize }}</h1>
    {% endif %}

    {% if user_ip %}
        <p> Tu ip es {{ user_ip }} </p>
    
    {% else %}
    
        <a href="{{ url_for('index') }}">Ir a inicio</a>
        <a href="{{ url_for('auth.signup') }}">Registrar cuenta</a>
    
    {% endif %}
    </div>

    <div class="container">
        <h3> Crea una nueva tarea</h3>
        {{ wtf.quick_form(todo_form) }} 
    </div>


    <ul class="list-group">
        {% for todo in todos %}
            {{ macros.render_todo(todo) }}
            {% endfor %}

    </ul>
{% endblock %}
