<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    {% if current_user.is_authenticated %} 
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li> 
                    {% else %} 
                        <li><a href="{{ url_for('auth.signup') }}">Registrar</a></li> 
                    {% endif %} 
            </ul>
        </div>
    </div>
</div>
